@import './variables';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {

  html {
    color-scheme: dark;
    overflow-x: hidden;
  }
  
  body {
    color: white;
    background: $background-1;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
}