.indicator{
    position: absolute;
    display: flex;
    bottom: 20px;
    right: calc(50% - 36px);

    &__dot{
        width: 8px;
        height: 8px;
        background-color: rgb(125, 125, 125);
        border-radius: 50%;
        z-index: 4;
        margin-right: 8px;
        
        &-active{
            background-color: rgb(255, 255, 255);
        }
    }
}